<ion-split-pane contentId="main" when="sm">
  <ion-menu contentId="main" #menuElement>
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-img class="logo" src="./assets/images/logo.svg"></ion-img>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true" color="primary">
      <div class="centervert">
        <ion-button
          fill="clear"
          expand="block"
          size="large"
          class="link"
          *ngFor="let feature of features; let i = index"
          [disabled]="!feature.isEnabled"
          (click)="togglePage(feature.url); menuElement.close()"
          [ngClass]="{ 'active-link': i === 0 }"
          routerLinkActive="active-link"
        >
          <ion-icon
            slot="icon-only"
            color="light"
            [name]="feature.name"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar>
        <!-- <ion-button fill="clear" (click)="toogleNotification()">
          <ion-icon
            slot="icon-only"
            color="light"
            size="small"
            [name]="
              (isNotifEnabled$ | async)
                ? 'notifications-outline'
                : 'notifications-off-outline'
            "
          ></ion-icon>
        </ion-button> -->
        <ion-button id="setting-options" fill="clear">
          <ion-icon
            slot="icon-only"
            color="light"
            size="small"
            name="settings-outline"
          ></ion-icon>
        </ion-button>
        <ion-popover trigger="setting-options" triggerAction="click" #popoverSettingElement>
          <ng-template>
            <ion-content class="ion-no-padding">
              <ion-list lines="none" class="ion-no-padding">
                <ion-list-header>
                  <ion-label>Global Settings</ion-label>
                </ion-list-header>
                <!-- <ion-item>
                  <ion-label>Dark Mode</ion-label>
                  <ion-toggle
                    slot="end"
                    [checked]="(isDarkMode$ | async)"
                    (ionChange)="toggleDarkMode($event)"
                  ></ion-toggle>
                </ion-item> -->
                <ion-item button 
                (click)="setupIPFSPinService(popoverSettingElement)">
                  <ion-label>
                    <h3>Pin service</h3>
                    <p>
                      Manage IPFS pinning service
                    </p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <!-- <ion-icon
                    slot="start"
                    [name]="
                      (isNotifEnabled$ | async)
                        ? 'notifications-outline'
                        : 'notifications-off-outline'
                    "
                  ></ion-icon> -->
                  <ion-label>
                    <h3>Notifications</h3>
                    <p>
                      Enable or disable
                    </p>
                  </ion-label>
                  <ion-toggle
                    #toggleNotifElement
                    slot="end"
                    size="small"
                    [checked]="isNotifEnabled$ | async"
                    (click)="toogleNotification(popoverSettingElement, toggleNotifElement)"
                  ></ion-toggle>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main" mode="md"></ion-router-outlet>
</ion-split-pane>
